 /* =====================
     STATUS
  ===================== */
  .status-cell-registro {
    text-align: ;
  }

   /* ================================
     CONTEÚDO
  ================================ */
  .content-registro {
    padding: 28px;
  }

  /* =====================
     TABELA
  ===================== */
  .telecom-table-registro {
    width: 700px;
    border-collapse: collapse;
    background: var(--bg-card);
    border-radius: 16px;
    overflow: hidden;
  }
  
  .telecom-table-registro thead {
    background: #020617;
  }
  
  .telecom-table-registro th {
    padding: 14px 20px;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-muted);
    text-align: justify;
    border-bottom: 1px solid var(--border);
  }
  
  .telecom-table-registro td {
    padding: 20px 20px;
    font-size: 14px;
    text-align: justify;
    border-bottom: 1px solid var(--border);
  }
  
  .telecom-table-registro tbody tr:hover {
    background: rgba(255, 255, 255, 0.03);
  }
  
